# Bike Sharing Demand

## CRISP-DM Approach

CRISP-DM stands for Cross-Industry Standard Process for Data Mining and describes a structured approach to understanding, preparing, modeling and evaluating data. This process includes the following steps:

1. Business Understanding
2. Data Understanding
3. Data Preparation
4. Modeling
5. Evaluation
6. Deployment

Deployment is not relevant for this type of project, as I won't be deploying my model to a web server. However, my results will be summarized in a blog post on Medium (https://medium.com/@julia.nikulski).

### 1. Business Understanding

### 2. Data Understanding

The data set is similar to the bike sharing dataset provided by the [UCI machine learning repository](https://archive.ics.uci.edu/ml/datasets/Bike+Sharing+Dataset). However, the aforementioned dataset only contains data for 2011 and 2012. It was originally created by Fanaee-T and Gama (2013) in their study ["Event labeling combining ensemble detectors and background knowledge"](https://link.springer.com/article/10.1007/s13748-013-0040-3). 

To have a larger dataset, I collected the following data from the following sources for the time period of January 1, 2011 until December 31, 2018:
* The bike demand data comes from [Capital Bike Share](http://capitalbikeshare.com/system-data)
* The weather data was taken from [NOAA's National Climatic Data Center](https://www.ncdc.noaa.gov/cdo-web/search)
* The holiday data is from the [DC Department of Human Resources](http://dchr.dc.gov/page/holiday-schedule). 

The dataset uses data from the bike sharing stations of Capital Bike Share in Washington, D.C., USA. The weather data and holiday data refer to the same location.

In [63]:
import pandas as pd
import numpy as np
from scipy.stats import kruskal, pearsonr
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import SGDClassifier
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import make_scorer, mean_squared_error
from sklearn.model_selection import cross_validate, TimeSeriesSplit
from datetime import datetime


import seaborn as sb
import matplotlib.pyplot as plt 

%matplotlib inline

#### 2.1. Loading the data and visualizing and describing it

In [64]:
# read in bike sharing dataset
bike_df = pd.read_csv('bike_sharing_dataset.csv')
bike_df.head()

,date,temp_avg,temp_min,temp_max,temp_observ,precip,wind,wt_fog,wt_heavy_fog,wt_thunder,...,wt_freeze_rain,wt_snow,wt_ground_fog,wt_ice_fog,wt_freeze_drizzle,wt_unknown,casual,registered,total_cust,holiday
0,2011-01-01,NaN,-1.566667,11.973333,2.772727,0.069333,2.575,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,330.0,629.0,959.0,NaN
1,2011-01-02,NaN,0.880000,13.806667,7.327273,1.037349,3.925,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,130.0,651.0,781.0,NaN
2,2011-01-03,NaN,-3.442857,7.464286,-3.060000,1.878824,3.625,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,120.0,1181.0,1301.0,NaN
3,2011-01-04,NaN,-5.957143,4.642857,-3.100000,0.000000,1.800,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,107.0,1429.0,1536.0,NaN
4,2011-01-05,NaN,-4.293333,6.113333,-1.772727,0.000000,2.950,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,82.0,1489.0,1571.0,NaN

In [65]:
# print descriptive statistics
bike_df.describe()

,temp_avg,temp_min,temp_max,temp_observ,precip,wind,wt_fog,wt_heavy_fog,wt_thunder,wt_sleet,...,wt_freeze_rain,wt_snow,wt_ground_fog,wt_ice_fog,wt_freeze_drizzle,wt_unknown,casual,registered,total_cust,holiday
count,2101.000000,2922.000000,2922.000000,2922.000000,2922.000000,2922.000000,1503.0,208.0,694.0,129.0,...,5.0,84.0,36.0,10.0,4.0,1.0,2918.000000,2918.000000,2918.000000,89.0
mean,14.419007,8.506468,19.015689,11.069243,3.435734,3.162898,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1679.776217,6046.297121,7726.073338,1.0
std,9.556401,9.473941,9.835524,9.481232,8.183658,1.379582,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,1560.762932,2756.888032,3745.220092,0.0
min,-12.100000,-16.993750,-7.980000,-15.658333,0.000000,0.375000,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,2.000000,19.000000,21.000000,1.0
25%,6.566667,0.516538,11.081562,3.013068,0.005510,2.200000,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,512.250000,3839.250000,4628.500000,1.0
50%,15.433333,8.504911,19.992857,11.619091,0.271504,2.900000,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1220.500000,5964.000000,7442.500000,1.0
75%,23.066667,17.338393,27.874583,19.767083,2.885381,3.875000,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,2357.250000,8187.500000,10849.500000,1.0
max,31.733333,26.206250,37.850000,28.666667,118.789796,12.750000,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,10173.000000,15419.000000,19113.000000,1.0

In [66]:
# check the datatypes of each variable
bike_df.dtypes

date                  object
temp_avg             float64
temp_min             float64
temp_max             float64
temp_observ          float64
precip               float64
wind                 float64
wt_fog               float64
wt_heavy_fog         float64
wt_thunder           float64
wt_sleet             float64
wt_hail              float64
wt_glaze             float64
wt_haze              float64
wt_drift_snow        float64
wt_high_wind         float64
wt_mist              float64
wt_drizzle           float64
wt_rain              float64
wt_freeze_rain       float64
wt_snow              float64
wt_ground_fog        float64
wt_ice_fog           float64
wt_freeze_drizzle    float64
wt_unknown           float64
casual               float64
registered           float64
total_cust           float64
holiday              float64
dtype: object

In [67]:
bike_df.head()

,date,temp_avg,temp_min,temp_max,temp_observ,precip,wind,wt_fog,wt_heavy_fog,wt_thunder,...,wt_freeze_rain,wt_snow,wt_ground_fog,wt_ice_fog,wt_freeze_drizzle,wt_unknown,casual,registered,total_cust,holiday
0,2011-01-01,NaN,-1.566667,11.973333,2.772727,0.069333,2.575,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,330.0,629.0,959.0,NaN
1,2011-01-02,NaN,0.880000,13.806667,7.327273,1.037349,3.925,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,130.0,651.0,781.0,NaN
2,2011-01-03,NaN,-3.442857,7.464286,-3.060000,1.878824,3.625,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,120.0,1181.0,1301.0,NaN
3,2011-01-04,NaN,-5.957143,4.642857,-3.100000,0.000000,1.800,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,107.0,1429.0,1536.0,NaN
4,2011-01-05,NaN,-4.293333,6.113333,-1.772727,0.000000,2.950,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,82.0,1489.0,1571.0,NaN

Based on the source repository of the data set, these are the meanings of each variable:
- date: date
- temp_avg: average temperature in Celcius
- temp_min: minimum temperature in Celcius
- temp_max: maximum temperature in Celcius
- temp_observ: temperature at time of observation
- precip: precipitation in mm 
- wind: average windspeed
- wt: weather types
    - fog: fog, ice fog, or freezing fog (may include heavy fog)
    - heavy_fog: heavy fog or heaving freezing fog (not always distinguished from fog)
    - thunder: thunder
    - sleet: ice pellets, sleet, snow pellets, or small hail
    - hail: hail (may include small hail)
    - glaze: glaze or rime
    - haze: smoke or haze
    - drift_snow: blowing or drifting snow 
    - high_wind: high or damaging winds
    - mist: mist
    - drizzle: drizzle
    - rain: rain (may include freezing rain, drizzle, and freezing drizzle)
    - freeze_rain: freezing rain
    - snow: snow, snow pellets, snow grains, or ice crystals
    - ground_fog: ground fog
    - ice_fog: ice for or freezing fog
    - freeze_drizzle: freezing drizzle
    - unknown: unknown source of precipitation
- casual: count of casual users
- registered: count of registered users
- total_cust: count of total rental bikes including both casual and registered
- holiday: holiday in Washington D.C.

##### Checking for and dealing with missing values

In [68]:
# Check for missing values
bike_df.isnull().sum()

date                    0
temp_avg              821
temp_min                0
temp_max                0
temp_observ             0
precip                  0
wind                    0
wt_fog               1419
wt_heavy_fog         2714
wt_thunder           2228
wt_sleet             2793
wt_hail              2872
wt_glaze             2769
wt_haze              2217
wt_drift_snow        2915
wt_high_wind         2664
wt_mist              2551
wt_drizzle           2794
wt_rain              2516
wt_freeze_rain       2917
wt_snow              2838
wt_ground_fog        2886
wt_ice_fog           2912
wt_freeze_drizzle    2918
wt_unknown           2921
casual                  4
registered              4
total_cust              4
holiday              2833
dtype: int64

The feature **temp_avg** is missing 821 values. I will use the temp_min, temp_max and temp_observ features to estimate the missing temp_avg values. There are also 4 values missing for **casual, registered and total_cust features** and the target, respectively. I will check why these are missing and exclude those observations because if the target variable is missing, I cannot estimate it. 

The **holiday** feature has NAs but these should actually 0s, which I will convert. The **wt_** features also have NAs where 0s should be which I will insert.

In [69]:
# fill NAs with 0 where applicable
wt_feats = [x for x in bike_df.columns if 'wt' in x]
bike_df['holiday'] = bike_df['holiday'].fillna(0)
bike_df[wt_feats] = bike_df[wt_feats].fillna(0)

In [70]:
# check casual, registered and total_cust missing rows
bike_df[bike_df['total_cust'].isna()]

,date,temp_avg,temp_min,temp_max,temp_observ,precip,wind,wt_fog,wt_heavy_fog,wt_thunder,...,wt_freeze_rain,wt_snow,wt_ground_fog,wt_ice_fog,wt_freeze_drizzle,wt_unknown,casual,registered,total_cust,holiday
1848,2016-01-23,-4.366667,-6.128571,-2.392857,-4.688889,42.045946,8.08,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0
1849,2016-01-24,-2.666667,-7.985714,-1.028571,-6.366667,19.339130,3.75,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0
1850,2016-01-25,-5.133333,-11.128571,2.028571,-9.877778,0.000000,1.15,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0
1851,2016-01-26,2.333333,-7.871429,7.471429,3.588889,0.000000,2.85,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0

There seem to be four days where no data was captured for the rented bikes. Because this is a time series, I am not sure whether I can drop these rows or whether I should interpolate the target values for these four days. More research is necessary to determine this.

In [71]:
bike_df['total_cust'][1845:1855]

1845    4321.0
1846    4228.0
1847    2985.0
1848       NaN
1849       NaN
1850       NaN
1851       NaN
1852     528.0
1853    2022.0
1854    2942.0
Name: total_cust, dtype: float64

In [72]:
# assigning rows with missing target label a -1 so that they stay in the model but they are 
# marked is irregular value
bike_df.fillna(value={'total_cust': -1, 'casual': -1, 'registered': -1}, inplace=True)

In [73]:
# which rows have the average temperature missing
bike_df[bike_df['temp_avg'].isna()] # all rows between 0 and 820

,date,temp_avg,temp_min,temp_max,temp_observ,precip,wind,wt_fog,wt_heavy_fog,wt_thunder,...,wt_freeze_rain,wt_snow,wt_ground_fog,wt_ice_fog,wt_freeze_drizzle,wt_unknown,casual,registered,total_cust,holiday
0,2011-01-01,NaN,-1.566667,11.973333,2.772727,0.069333,2.575,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,330.0,629.0,959.0,0.0
1,2011-01-02,NaN,0.880000,13.806667,7.327273,1.037349,3.925,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,130.0,651.0,781.0,0.0
2,2011-01-03,NaN,-3.442857,7.464286,-3.060000,1.878824,3.625,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,120.0,1181.0,1301.0,0.0
3,2011-01-04,NaN,-5.957143,4.642857,-3.100000,0.000000,1.800,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,107.0,1429.0,1536.0,0.0
4,2011-01-05,NaN,-4.293333,6.113333,-1.772727,0.000000,2.950,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,82.0,1489.0,1571.0,0.0
5,2011-01-06,NaN,-4.993333,4.233333,-4.245455,0.000000,1.600,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,88.0,1485.0,1573.0,0.0
6,2011-01-07,NaN,-3.885714,2.857143,-1.570000,0.101205,2.550,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,148.0,1345.0,1493.0,0.0
7,2011-01-08,NaN,-3.980000,0.486667,-2.472727,0.285057,4.575,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,68.0,871.0,939.0,0.0
8,2011-01-09,NaN,-6.293333,0.226667,-6.072727,0.283529,6.425,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,54.0,748.0,802.0,0.0
9,2011-01-10,NaN,-6.238462,0.507692,-5.177778,0.000000,2.975,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,41.0,1257.0,1298.0,0.0
10,2011-01-11,NaN,-5.914286,0.564286,-3.100000,0.460241,1.350,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,43.0,1188.0,1231.0,0.0
11,2011-01-12,NaN,-5.114286,0.192857,-3.380000,3.526882,5.675,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,25.0,1116.0,1141.0,0.0
12,2011-01-13,NaN,-4.600000,1.035714,-4.160000,0.000000,5.025,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,37.0,1346.0,1383.0,0.0
13,2011-01-14,NaN,-7.342857,1.161538,-5.830000,0.003797,2.125,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,54.0,1330.0,1384.0,0.0
14,2011-01-15,NaN,-5.660000,2.780000,-3.945455,0.000000,2.200,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,222.0,1018.0,1240.0,0.0
15,2011-01-16,NaN,-4.080000,5.626667,0.409091,0.000000,3.300,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,251.0,937.0,1188.0,0.0
16,2011-01-17,NaN,-3.371429,2.185714,-2.120000,0.420513,3.100,1.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,117.0,876.0,993.0,1.0
17,2011-01-18,NaN,-3.242857,0.485714,-1.770000,10.541573,3.250,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,9.0,663.0,672.0,0.0
18,2011-01-19,NaN,-1.061538,4.800000,1.122222,0.884524,3.275,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,78.0,1553.0,1631.0,0.0
19,2011-01-20,NaN,-1.107143,8.064286,-0.440000,0.040260,3.275,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,81.0,1815.0,1896.0,0.0
20,2011-01-21,NaN,-3.413333,4.528571,-1.472727,0.831818,6.125,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,73.0,1449.0,1522.0,0.0
21,2011-01-22,NaN,-10.213333,-0.513333,-9.590909,0.000000,2.375,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,93.0,876.0,969.0,0.0
22,2011-01-23,NaN,-11.000000,-3.100000,-8.072727,0.000000,3.625,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,150.0,827.0,977.0,0.0
23,2011-01-24,NaN,-12.546667,-1.700000,-11.872727,0.000000,2.550,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,86.0,1319.0,1405.0,0.0
24,2011-01-25,NaN,-9.406667,1.366667,-2.081818,0.000000,1.575,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,186.0,1785.0,1971.0,0.0
25,2011-01-26,NaN,-1.785714,5.485714,0.500000,9.016250,5.075,1.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,34.0,466.0,500.0,0.0
26,2011-01-27,NaN,-1.780000,1.706667,-1.318182,29.529114,3.200,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,15.0,409.0,424.0,0.0
27,2011-01-28,NaN,-2.806667,1.860000,-1.863636,0.134177,1.675,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,38.0,1113.0,1151.0,0.0
28,2011-01-29,NaN,-5.235714,1.785714,-4.220000,1.440000,1.875,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,123.0,947.0,1070.0,0.0
29,2011-01-30,NaN,-6.342857,3.664286,-4.600000,0.000000,1.200,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,140.0,944.0,1084.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791,2013-03-02,NaN,-0.800000,5.242857,-0.300000,0.018824,4.300,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,674.0,3033.0,3707.0,0.0
792,2013-03-03,NaN,-2.053846,3.692308,-0.840000,0.000000,5.325,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,475.0,2573.0,3048.0,0.0
793,2013-03-04,NaN,-2.521429,5.085714,-1.618182,0.000000,5.850,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,311.0,4101.0,4412.0,0.0
794,2013-03-05,NaN,-2.528571,7.514286,0.154545,0.008989,2.950,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,444.0,4737.0,5181.0,0.0
795,2013-03-06,NaN,-0.584615,7.269231,0.890000,11.904545,7.725,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,79.0,1046.0,1125.0,0.0
796,2013-03-07,NaN,0.850000,6.064286,2.781818,15.694318,5.775,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,315.0,4691.0,5006.0,0.0
797,2013-03-08,NaN,1.346667,9.106667,3.027273,0.008889,6.975,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,410.0,4425.0,4835.0,0.0
798,2013-03-09,NaN,0.826667,11.526667,4.345455,0.000000,2.450,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2168.0,4600.0,6768.0,0.0
799,2013-03-10,NaN,-0.813333,15.820000,2.027273,0.000000,2.575,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2328.0,4436.0,6764.0,0.0
800,2013-03-11,NaN,2.413333,15.666667,7.272727,0.003529,4.325,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1026.0,5013.0,6039.0,0.0
801,2013-03-12,NaN,5.840000,15.040000,11.045455,5.596591,5.750,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,449.0,3796.0,4245.0,0.0
802,2013-03-13,NaN,-0.553333,12.780000,0.245455,16.970115,4.275,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,625.0,5068.0,5693.0,0.0
803,2013-03-14,NaN,-0.560000,8.613333,0.554545,0.055556,6.425,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,440.0,4386.0,4826.0,0.0
804,2013-03-15,NaN,-2.180000,9.746667,0.818182,0.000000,3.200,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1201.0,5129.0,6330.0,0.0
805,2013-03-16,NaN,0.207143,13.257143,4.950000,0.042353,3.150,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1811.0,4357.0,6168.0,0.0
806,2013-03-17,NaN,0.357143,10.235714,1.330000,0.207692,2.925,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,982.0,2960.0,3942.0,0.0
807,2013-03-18,NaN,0.146667,4.466667,0.518182,1.681111,3.375,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,248.0,2499.0,2747.0,0.0
808,2013-03-19,NaN,0.440000,7.540000,3.136364,8.779167,4.225,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,674.0,5268.0,5942.0,0.0
809,2013-03-20,NaN,0.560000,13.220000,2.527273,0.022989,4.650,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,556.0,5250.0,5806.0,0.0
810,2013-03-21,NaN,-1.206667,8.493333,-0.445455,0.027957,5.850,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,308.0,4200.0,4508.0,0.0
811,2013-03-22,NaN,-3.026667,4.886667,-0.500000,0.000000,4.625,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,682.0,4725.0,5407.0,0.0
812,2013-03-23,NaN,-3.433333,9.593333,-0.600000,0.000000,3.450,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2473.0,4006.0,6479.0,0.0
813,2013-03-24,NaN,-2.413333,9.646667,-0.600000,0.034568,2.225,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1109.0,2748.0,3857.0,0.0
814,2013-03-25,NaN,-0.826667,4.120000,0.054545,9.461446,2.950,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,84.0,1828.0,1912.0,0.0
815,2013-03-26,NaN,-0.392857,5.800000,1.440000,7.545122,3.975,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,647.0,4936.0,5583.0,0.0
816,2013-03-27,NaN,1.453333,9.433333,2.909091,0.061250,5.500,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,646.0,5154.0,5800.0,0.0
817,2013-03-28,NaN,1.446667,9.513333,3.518182,0.029268,4.875,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,699.0,4884.0,5583.0,0.0
818,2013-03-29,NaN,3.050000,10.578571,5.050000,0.000000,3.075,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1968.0,5416.0,7384.0,0.0
819,2013-03-30,NaN,0.907143,13.771429,3.120000,0.003947,1.825,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5006.0,4592.0,9598.0,0.0
820,2013-03-31,NaN,2.335714,14.085714,6.620000,0.207692,2.225,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1401.0,2384.0,3785.0,0.0

In [74]:
# check what the correlation between the different temperature features and total_cust is
# maybe I could just use one of the other temperature features instead of temp_avg

# correlation between temp_avg and total_cust
# I'm excluding the first 820 rows because they contain missing temp_avg values
print('temp_avg:', pearsonr(bike_df['temp_avg'][821:], bike_df['total_cust'][821:]))

# correlation between temp_min and total_cust
print('temp_min:', pearsonr(bike_df['temp_min'], bike_df['total_cust']))
print('temp_min, without first 820 rows:', pearsonr(bike_df['temp_min'][821:], bike_df['total_cust'][821:]))

# correlation between temp_max and total_cust
print('temp_max:', pearsonr(bike_df['temp_max'], bike_df['total_cust']))
print('temp_max, without first 820 rows:', pearsonr(bike_df['temp_max'][821:], bike_df['total_cust'][821:]))

# correlation between temp_observ and total_cust
print('temp_observ:', pearsonr(bike_df['temp_observ'], bike_df['total_cust']))
print('temp_observ, without first 820 rows:', pearsonr(bike_df['temp_observ'][821:], bike_df['total_cust'][821:]))

temp_avg: (0.7293056313590628, 0.0)
temp_min: (0.5493446655127942, 4.551527730770392e-230)
temp_min, without first 820 rows: (0.672614016123332, 8.360712226124258e-277)
temp_max: (0.5971103034228888, 6.817965444868263e-282)
temp_max, without first 820 rows: (0.7410516946153353, 0.0)
temp_observ: (0.550786439566417, 1.6404856236281734e-231)
temp_observ, without first 820 rows: (0.6807986072994302, 4.0023422329777753e-286)

The above shows that disregarding the first 820 rows leads to the highest correlation between temp_max and total_cust. However, comparing temp_avg with the entire dataset and the respective correlations with total_cust, temp_avg has the highest correlation. I will estimate the missing temp_avg figures and see how the correlation changes and decide how to proceed.

In [75]:
# function to create seasons for dataframe
def seasons(df):
    '''
    Function to create new features for seasons based on months
    Args: df = dataframe
    Returns: df = dataframe
    '''
    # create a season features
    df['season_spring'] = df['date'].apply(lambda x: 1 if '01' in x[5:7] else 1 if '02' in x[5:7] else 1 
                                                     if '03' in x[5:7] else 0)
    df['season_summer'] = df['date'].apply(lambda x: 1 if '04' in x[5:7] else 1 if '05' in x[5:7] else 1 
                                                     if '06' in x[5:7] else 0)
    df['season_fall'] = df['date'].apply(lambda x: 1 if '07' in x[5:7] else 1 if '08' in x[5:7] else 1 
                                                     if '09' in x[5:7] else 0)
    df['season_winter'] = df['date'].apply(lambda x: 1 if '10' in x[5:7] else 1 if '11' in x[5:7] else 1 
                                                     if '12' in x[5:7] else 0)
    
    return df

In [76]:
# estimating average temperature for observations that currently have NAs in temp_avg
# create a new dataframe that only contains the columns temp_avg, temp_min, temp_max and temp_observ
# also exclude all rows that have temp_avg missing
temp_df = bike_df.drop(columns=['holiday', 'casual', 'registered', 'total_cust'])

temp_df = seasons(temp_df)

# drop the date column
temp_df.drop(columns=['date'], inplace=True)
temp_df_no_nan = temp_df.iloc[821:, :]

In [77]:
# assign X and y
y = temp_df_no_nan['temp_avg']
X = temp_df_no_nan.drop(columns=['temp_avg'])

# assign hyperparameters
hyperparams = {
    'n_estimators': 4, 'criterion': 'mse', 'max_depth': None, 'min_samples_split': 2, 
    'min_samples_leaf': 1, 'min_weight_fraction_leaf': 0.0, 'max_features': 'auto', 
    'max_leaf_nodes': None, 'min_impurity_decrease': 0.0, 'min_impurity_split': None, 
    'bootstrap': True, 'oob_score': False, 'n_jobs': None, 'random_state': 42, 
    'verbose': 0, 'warm_start': False}

# instantiate RandomForest model
model = RandomForestRegressor(**hyperparams)

In [78]:
# create a pipeline 
scale_features = temp_df.columns[1:6]

preprocessor = ColumnTransformer([
    ('scaler', MinMaxScaler(), scale_features),
])

pipeline = Pipeline([
    ('preprocessor', preprocessor), 
    ('model', model),
])

pipeline = pipeline.fit(X, y)

In [79]:
# create root mean squared error function
def rmse(y, y_pred):
    rmse = np.sqrt(np.mean(np.square(y - y_pred)))
    return rmse

In [80]:
# assign variables with custom scorer and cross validation details
rmse = make_scorer(rmse)
temp_cv = cross_validate(pipeline, X, y, scoring=rmse, cv=10, return_train_score=True)

temp_cv_train = np.mean(temp_cv['train_score'])
temp_cv_test = np.mean(temp_cv['test_score'])
f'Root mean squared error on training and test sets: {temp_cv_train:.2f} and {temp_cv_train:.2f}'

'Root mean squared error on training and test sets: 0.43 and 0.43'

In [81]:
temp_df_nan = temp_df.iloc[:821, :]

prediction = pipeline.predict(temp_df_nan)

temp_df_nan_pred = temp_df_nan
temp_df_nan_pred['temp_avg'] = prediction
temp_df_nan_pred

C:\Users\julia\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,temp_avg,temp_min,temp_max,temp_observ,precip,wind,wt_fog,wt_heavy_fog,wt_thunder,wt_sleet,...,wt_freeze_rain,wt_snow,wt_ground_fog,wt_ice_fog,wt_freeze_drizzle,wt_unknown,season_spring,season_summer,season_fall,season_winter
0,6.200000,-1.566667,11.973333,2.772727,0.069333,2.575,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
1,9.116667,0.880000,13.806667,7.327273,1.037349,3.925,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
2,1.475000,-3.442857,7.464286,-3.060000,1.878824,3.625,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
3,0.575000,-5.957143,4.642857,-3.100000,0.000000,1.800,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
4,2.383333,-4.293333,6.113333,-1.772727,0.000000,2.950,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
5,-0.150000,-4.993333,4.233333,-4.245455,0.000000,1.600,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
6,-0.029167,-3.885714,2.857143,-1.570000,0.101205,2.550,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
7,-0.725000,-3.980000,0.486667,-2.472727,0.285057,4.575,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1,0,0,0
8,-3.241667,-6.293333,0.226667,-6.072727,0.283529,6.425,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
9,-2.533333,-6.238462,0.507692,-5.177778,0.000000,2.975,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
10,-1.216667,-5.914286,0.564286,-3.100000,0.460241,1.350,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,1,0,0,0
11,-2.658333,-5.114286,0.192857,-3.380000,3.526882,5.675,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
12,-1.158333,-4.600000,1.035714,-4.160000,0.000000,5.025,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
13,-3.683333,-7.342857,1.161538,-5.830000,0.003797,2.125,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
14,-0.633333,-5.660000,2.780000,-3.945455,0.000000,2.200,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
15,2.195833,-4.080000,5.626667,0.409091,0.000000,3.300,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
16,-0.216667,-3.371429,2.185714,-2.120000,0.420513,3.100,1.0,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
17,-0.208333,-3.242857,0.485714,-1.770000,10.541573,3.250,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
18,2.375000,-1.061538,4.800000,1.122222,0.884524,3.275,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
19,3.016667,-1.107143,8.064286,-0.440000,0.040260,3.275,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
20,0.533333,-3.413333,4.528571,-1.472727,0.831818,6.125,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
21,-5.941667,-10.213333,-0.513333,-9.590909,0.000000,2.375,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
22,-6.266667,-11.000000,-3.100000,-8.072727,0.000000,3.625,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
23,-7.375000,-12.546667,-1.700000,-11.872727,0.000000,2.550,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
24,-0.258333,-9.406667,1.366667,-2.081818,0.000000,1.575,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
25,2.808333,-1.785714,5.485714,0.500000,9.016250,5.075,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
26,0.100000,-1.780000,1.706667,-1.318182,29.529114,3.200,1.0,0.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
27,-0.508333,-2.806667,1.860000,-1.863636,0.134177,1.675,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1,0,0,0
28,-0.391667,-5.235714,1.785714,-4.220000,1.440000,1.875,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
29,-0.408333,-6.342857,3.664286,-4.600000,0.000000,1.200,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791,1.691667,-0.800000,5.242857,-0.300000,0.018824,4.300,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
792,1.658333,-2.053846,3.692308,-0.840000,0.000000,5.325,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
793,0.933333,-2.521429,5.085714,-1.618182,0.000000,5.850,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
794,3.125000,-2.528571,7.514286,0.154545,0.008989,2.950,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
795,3.525000,-0.584615,7.269231,0.890000,11.904545,7.725,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
796,4.425000,0.850000,6.064286,2.781818,15.694318,5.775,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
797,5.850000,1.346667,9.106667,3.027273,0.008889,6.975,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
798,7.225000,0.826667,11.526667,4.345455,0.000000,2.450,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
799,7.916667,-0.813333,15.820000,2.027273,0.000000,2.575,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
800,11.041667,2.413333,15.666667,7.272727,0.003529,4.325,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
801,12.208333,5.840000,15.040000,11.045455,5.596591,5.750,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
802,4.516667,-0.553333,12.780000,0.245455,16.970115,4.275,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
803,3.558333,-0.560000,8.613333,0.554545,0.055556,6.425,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
804,5.608333,-2.180000,9.746667,0.818182,0.000000,3.200,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
805,8.633333,0.207143,13.257143,4.950000,0.042353,3.150,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
806,5.633333,0.357143,10.235714,1.330000,0.207692,2.925,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
807,2.191667,0.146667,4.466667,0.518182,1.681111,3.375,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1,0,0,0
808,5.625000,0.440000,7.540000,3.136364,8.779167,4.225,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
809,5.700000,0.560000,13.220000,2.527273,0.022989,4.650,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
810,2.600000,-1.206667,8.493333,-0.445455,0.027957,5.850,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
811,1.850000,-3.026667,4.886667,-0.500000,0.000000,4.625,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
812,3.600000,-3.433333,9.593333,-0.600000,0.000000,3.450,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
813,3.500000,-2.413333,9.646667,-0.600000,0.034568,2.225,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
814,2.516667,-0.826667,4.120000,0.054545,9.461446,2.950,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
815,3.516667,-0.392857,5.800000,1.440000,7.545122,3.975,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0
816,5.450000,1.453333,9.433333,2.909091,0.061250,5.500,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
817,5.716667,1.446667,9.513333,3.518182,0.029268,4.875,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
818,7.133333,3.050000,10.578571,5.050000,0.000000,3.075,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
819,6.316667,0.907143,13.771429,3.120000,0.003947,1.825,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
820,10.241667,2.335714,14.085714,6.620000,0.207692,2.225,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1,0,0,0

In [82]:
# Do some checks to see whether the predicted temperatures in temp_avg make sense
# is there a calculated temperature that is bigger than the max temp that day?
temp_df_nan_pred[temp_df_nan_pred['temp_avg'] > temp_df_nan_pred['temp_max']]

Empty DataFrame
Columns: [temp_avg, temp_min, temp_max, temp_observ, precip, wind, wt_fog, wt_heavy_fog, wt_thunder, wt_sleet, wt_hail, wt_glaze, wt_haze, wt_drift_snow, wt_high_wind, wt_mist, wt_drizzle, wt_rain, wt_freeze_rain, wt_snow, wt_ground_fog, wt_ice_fog, wt_freeze_drizzle, wt_unknown, season_spring, season_summer, season_fall, season_winter]
Index: []

[0 rows x 28 columns]

In [83]:
# is there a calculated temperature that is lower than the min temp that day
temp_df_nan_pred[temp_df_nan_pred['temp_avg'] < temp_df_nan_pred['temp_min']]

Empty DataFrame
Columns: [temp_avg, temp_min, temp_max, temp_observ, precip, wind, wt_fog, wt_heavy_fog, wt_thunder, wt_sleet, wt_hail, wt_glaze, wt_haze, wt_drift_snow, wt_high_wind, wt_mist, wt_drizzle, wt_rain, wt_freeze_rain, wt_snow, wt_ground_fog, wt_ice_fog, wt_freeze_drizzle, wt_unknown, season_spring, season_summer, season_fall, season_winter]
Index: []

[0 rows x 28 columns]

In [84]:
bike_df['temp_avg'][:821] = temp_df_nan_pred['temp_avg'][:821]
bike_df.head()

C:\Users\julia\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,date,temp_avg,temp_min,temp_max,temp_observ,precip,wind,wt_fog,wt_heavy_fog,wt_thunder,...,wt_freeze_rain,wt_snow,wt_ground_fog,wt_ice_fog,wt_freeze_drizzle,wt_unknown,casual,registered,total_cust,holiday
0,2011-01-01,6.200000,-1.566667,11.973333,2.772727,0.069333,2.575,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,330.0,629.0,959.0,0.0
1,2011-01-02,9.116667,0.880000,13.806667,7.327273,1.037349,3.925,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,130.0,651.0,781.0,0.0
2,2011-01-03,1.475000,-3.442857,7.464286,-3.060000,1.878824,3.625,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,120.0,1181.0,1301.0,0.0
3,2011-01-04,0.575000,-5.957143,4.642857,-3.100000,0.000000,1.800,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,107.0,1429.0,1536.0,0.0
4,2011-01-05,2.383333,-4.293333,6.113333,-1.772727,0.000000,2.950,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,82.0,1489.0,1571.0,0.0

In [85]:
# Do a final check for missing values
bike_df.isnull().sum()

date                 0
temp_avg             0
temp_min             0
temp_max             0
temp_observ          0
precip               0
wind                 0
wt_fog               0
wt_heavy_fog         0
wt_thunder           0
wt_sleet             0
wt_hail              0
wt_glaze             0
wt_haze              0
wt_drift_snow        0
wt_high_wind         0
wt_mist              0
wt_drizzle           0
wt_rain              0
wt_freeze_rain       0
wt_snow              0
wt_ground_fog        0
wt_ice_fog           0
wt_freeze_drizzle    0
wt_unknown           0
casual               0
registered           0
total_cust           0
holiday              0
dtype: int64

#### 2.2. Preprocessing

Below I will engineer some new features from the categorical and numeric features

In [86]:
### create new features for seasons
bike_df = seasons(bike_df)
bike_df

,date,temp_avg,temp_min,temp_max,temp_observ,precip,wind,wt_fog,wt_heavy_fog,wt_thunder,...,wt_freeze_drizzle,wt_unknown,casual,registered,total_cust,holiday,season_spring,season_summer,season_fall,season_winter
0,2011-01-01,6.200000,-1.566667,11.973333,2.772727,0.069333,2.575000,1.0,0.0,0.0,...,0.0,0.0,330.0,629.0,959.0,0.0,1,0,0,0
1,2011-01-02,9.116667,0.880000,13.806667,7.327273,1.037349,3.925000,1.0,1.0,0.0,...,0.0,0.0,130.0,651.0,781.0,0.0,1,0,0,0
2,2011-01-03,1.475000,-3.442857,7.464286,-3.060000,1.878824,3.625000,0.0,0.0,0.0,...,0.0,0.0,120.0,1181.0,1301.0,0.0,1,0,0,0
3,2011-01-04,0.575000,-5.957143,4.642857,-3.100000,0.000000,1.800000,0.0,0.0,0.0,...,0.0,0.0,107.0,1429.0,1536.0,0.0,1,0,0,0
4,2011-01-05,2.383333,-4.293333,6.113333,-1.772727,0.000000,2.950000,0.0,0.0,0.0,...,0.0,0.0,82.0,1489.0,1571.0,0.0,1,0,0,0
5,2011-01-06,-0.150000,-4.993333,4.233333,-4.245455,0.000000,1.600000,0.0,0.0,0.0,...,0.0,0.0,88.0,1485.0,1573.0,0.0,1,0,0,0
6,2011-01-07,-0.029167,-3.885714,2.857143,-1.570000,0.101205,2.550000,1.0,0.0,0.0,...,0.0,0.0,148.0,1345.0,1493.0,0.0,1,0,0,0
7,2011-01-08,-0.725000,-3.980000,0.486667,-2.472727,0.285057,4.575000,1.0,1.0,0.0,...,0.0,0.0,68.0,871.0,939.0,0.0,1,0,0,0
8,2011-01-09,-3.241667,-6.293333,0.226667,-6.072727,0.283529,6.425000,0.0,0.0,0.0,...,0.0,0.0,54.0,748.0,802.0,0.0,1,0,0,0
9,2011-01-10,-2.533333,-6.238462,0.507692,-5.177778,0.000000,2.975000,0.0,0.0,0.0,...,0.0,0.0,41.0,1257.0,1298.0,0.0,1,0,0,0
10,2011-01-11,-1.216667,-5.914286,0.564286,-3.100000,0.460241,1.350000,1.0,0.0,0.0,...,1.0,0.0,43.0,1188.0,1231.0,0.0,1,0,0,0
11,2011-01-12,-2.658333,-5.114286,0.192857,-3.380000,3.526882,5.675000,1.0,0.0,0.0,...,0.0,0.0,25.0,1116.0,1141.0,0.0,1,0,0,0
12,2011-01-13,-1.158333,-4.600000,1.035714,-4.160000,0.000000,5.025000,0.0,0.0,0.0,...,0.0,0.0,37.0,1346.0,1383.0,0.0,1,0,0,0
13,2011-01-14,-3.683333,-7.342857,1.161538,-5.830000,0.003797,2.125000,1.0,0.0,0.0,...,0.0,0.0,54.0,1330.0,1384.0,0.0,1,0,0,0
14,2011-01-15,-0.633333,-5.660000,2.780000,-3.945455,0.000000,2.200000,1.0,0.0,0.0,...,0.0,0.0,222.0,1018.0,1240.0,0.0,1,0,0,0
15,2011-01-16,2.195833,-4.080000,5.626667,0.409091,0.000000,3.300000,0.0,0.0,0.0,...,0.0,0.0,251.0,937.0,1188.0,0.0,1,0,0,0
16,2011-01-17,-0.216667,-3.371429,2.185714,-2.120000,0.420513,3.100000,1.0,0.0,0.0,...,0.0,0.0,117.0,876.0,993.0,1.0,1,0,0,0
17,2011-01-18,-0.208333,-3.242857,0.485714,-1.770000,10.541573,3.250000,1.0,1.0,0.0,...,0.0,0.0,9.0,663.0,672.0,0.0,1,0,0,0
18,2011-01-19,2.375000,-1.061538,4.800000,1.122222,0.884524,3.275000,1.0,1.0,0.0,...,0.0,0.0,78.0,1553.0,1631.0,0.0,1,0,0,0
19,2011-01-20,3.016667,-1.107143,8.064286,-0.440000,0.040260,3.275000,0.0,0.0,0.0,...,0.0,0.0,81.0,1815.0,1896.0,0.0,1,0,0,0
20,2011-01-21,0.533333,-3.413333,4.528571,-1.472727,0.831818,6.125000,1.0,0.0,0.0,...,0.0,0.0,73.0,1449.0,1522.0,0.0,1,0,0,0
21,2011-01-22,-5.941667,-10.213333,-0.513333,-9.590909,0.000000,2.375000,0.0,0.0,0.0,...,0.0,0.0,93.0,876.0,969.0,0.0,1,0,0,0
22,2011-01-23,-6.266667,-11.000000,-3.100000,-8.072727,0.000000,3.625000,0.0,0.0,0.0,...,0.0,0.0,150.0,827.0,977.0,0.0,1,0,0,0
23,2011-01-24,-7.375000,-12.546667,-1.700000,-11.872727,0.000000,2.550000,0.0,0.0,0.0,...,0.0,0.0,86.0,1319.0,1405.0,0.0,1,0,0,0
24,2011-01-25,-0.258333,-9.406667,1.366667,-2.081818,0.000000,1.575000,0.0,0.0,0.0,...,0.0,0.0,186.0,1785.0,1971.0,0.0,1,0,0,0
25,2011-01-26,2.808333,-1.785714,5.485714,0.500000,9.016250,5.075000,1.0,1.0,1.0,...,0.0,0.0,34.0,466.0,500.0,0.0,1,0,0,0
26,2011-01-27,0.100000,-1.780000,1.706667,-1.318182,29.529114,3.200000,1.0,0.0,1.0,...,0.0,0.0,15.0,409.0,424.0,0.0,1,0,0,0
27,2011-01-28,-0.508333,-2.806667,1.860000,-1.863636,0.134177,1.675000,1.0,0.0,0.0,...,0.0,0.0,38.0,1113.0,1151.0,0.0,1,0,0,0
28,2011-01-29,-0.391667,-5.235714,1.785714,-4.220000,1.440000,1.875000,1.0,0.0,0.0,...,0.0,0.0,123.0,947.0,1070.0,0.0,1,0,0,0
29,2011-01-30,-0.408333,-6.342857,3.664286,-4.600000,0.000000,1.200000,1.0,0.0,0.0,...,0.0,0.0,140.0,944.0,1084.0,0.0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2892,2018-12-02,8.133333,3.191667,10.041667,8.100000,8.268932,2.333333,1.0,1.0,0.0,...,0.0,0.0,1100.0,8566.0,9666.0,0.0,0,0,0,1
2893,2018-12-03,12.200000,6.718182,14.227273,8.750000,0.249505,4.600000,1.0,0.0,0.0,...,0.0,0.0,935.0,15419.0,16354.0,0.0,0,0,0,1
2894,2018-12-04,5.733333,1.491667,11.218182,2.522222,0.003061,4.133333,0.0,0.0,0.0,...,0.0,0.0,384.0,9095.0,9479.0,0.0,0,0,0,1
2895,2018-12-05,1.200000,-1.791667,4.675000,-0.877778,0.000000,2.600000,0.0,0.0,0.0,...,0.0,0.0,406.0,6100.0,6506.0,0.0,0,0,0,1
2896,2018-12-06,1.966667,-2.341667,4.583333,0.677778,0.000000,3.400000,0.0,0.0,0.0,...,0.0,0.0,326.0,6626.0,6952.0,0.0,0,0,0,1
2897,2018-12-07,3.000000,-2.116667,5.333333,0.077778,0.000000,3.533333,0.0,0.0,0.0,...,0.0,0.0,327.0,6239.0,6566.0,0.0,0,0,0,1
2898,2018-12-08,-0.900000,-6.241667,3.833333,-4.811111,0.000000,2.500000,0.0,0.0,0.0,...,0.0,0.0,486.0,3934.0,4420.0,0.0,0,0,0,1
2899,2018-12-09,-0.200000,-3.972727,1.527273,-1.962500,0.066304,3.000000,0.0,0.0,0.0,...,0.0,0.0,344.0,3203.0,3547.0,0.0,0,0,0,1
2900,2018-12-10,0.366667,-3.166667,1.491667,-2.822222,0.393684,3.633333,0.0,0.0,0.0,...,0.0,0.0,267.0,5838.0,6105.0,0.0,0,0,0,1
2901,2018-12-11,-0.100000,-6.233333,4.758333,-4.322222,0.000000,1.800000,1.0,0.0,0.0,...,0.0,0.0,399.0,6596.0,6995.0,0.0,0,0,0,1
2902,2018-12-12,2.366667,-4.658333,6.491667,-1.800000,0.000000,2.000000,0.0,0.0,0.0,...,0.0,0.0,422.0,7152.0,7574.0,0.0,0,0,0,1
2903,2018-12-13,5.200000,-1.441667,8.341667,2.722222,0.000000,1.400000,0.0,0.0,0.0,...,0.0,0.0,511.0,7694.0,8205.0,0.0,0,0,0,1
2904,2018-12-14,5.233333,-0.033333,9.125000,2.522222,0.704124,1.800000,1.0,1.0,0.0,...,0.0,0.0,407.0,6009.0,6416.0,0.0,0,0,0,1
2905,2018-12-15,9.233333,3.608333,11.025000,10.066667,20.029412,4.866667,1.0,0.0,0.0,...,0.0,0.0,94.0,1114.0,1208.0,0.0,0,0,0,1
2906,2018-12-16,7.900000,5.966667,10.733333,6.677778,58.700971,4.633333,1.0,0.0,0.0,...,0.0,0.0,173.0,2190.0,2363.0,0.0,0,0,0,1
2907,2018-12-17,7.466667,2.958333,10.333333,4.622222,6.154369,4.633333,0.0,0.0,0.0,...,0.0,0.0,614.0,7158.0,7772.0,0.0,0,0,0,1
2908,2018-12-18,5.033333,0.200000,10.175000,1.044444,0.021875,4.366667,0.0,0.0,0.0,...,0.0,0.0,380.0,7134.0,7514.0,0.0,0,0,0,1
2909,2018-12-19,2.066667,-4.041667,8.016667,-2.144444,0.000000,1.866667,0.0,0.0,0.0,...,0.0,0.0,399.0,7067.0,7466.0,0.0,0,0,0,1
2910,2018-12-20,2.833333,-2.575000,11.866667,4.522222,1.171429,2.500000,1.0,1.0,0.0,...,0.0,0.0,156.0,4243.0,4399.0,0.0,0,0,0,1
2911,2018-12-21,14.633333,4.450000,17.858333,14.766667,16.065741,4.866667,1.0,1.0,0.0,...,0.0,0.0,469.0,5227.0,5696.0,0.0,0,0,0,1
2912,2018-12-22,8.666667,4.600000,15.925000,6.188889,4.073529,6.633333,0.0,0.0,0.0,...,0.0,0.0,602.0,3108.0,3710.0,0.0,0,0,0,1
2913,2018-12-23,4.700000,-1.050000,10.190909,0.733333,0.083333,1.866667,0.0,0.0,0.0,...,0.0,0.0,703.0,2567.0,3270.0,0.0,0,0,0,1
2914,2018-12-24,5.666667,0.741667,8.150000,3.277778,0.535484,4.333333,0.0,0.0,0.0,...,0.0,0.0,435.0,2057.0,2492.0,0.0,0,0,0,1
2915,2018-12-25,3.333333,-1.833333,6.708333,-0.877778,0.000000,2.233333,0.0,0.0,0.0,...,0.0,0.0,548.0,1196.0,1744.0,1.0,0,0,0,1
2916,2018-12-26,1.300000,-4.372727,6.900000,-2.912500,0.000000,1.500000,0.0,0.0,0.0,...,0.0,0.0,743.0,3009.0,3752.0,0.0,0,0,0,1
2917,2018-12-27,3.500000,-3.591667,9.125000,-1.055556,0.024096,2.100000,1.0,0.0,0.0,...,0.0,0.0,1150.0,4280.0,5430.0,0.0,0,0,0,1
2918,2018-12-28,8.233333,0.608333,11.208333,8.088889,16.843820,2.000000,1.0,1.0,0.0,...,0.0,0.0,166.0,1959.0,2125.0,0.0,0,0,0,1
2919,2018-12-29,9.500000,3.925000,12.416667,5.311111,11.550575,3.666667,1.0,1.0,0.0,...,0.0,0.0,1756.0,4252.0,6008.0,0.0,0,0,0,1
2920,2018-12-30,4.800000,0.816667,11.066667,2.088889,0.104651,1.200000,0.0,0.0,0.0,...,0.0,0.0,1295.0,3634.0,4929.0,0.0,0,0,0,1
2921,2018-12-31,4.166667,0.250000,8.516667,4.444444,2.088235,1.466667,1.0,1.0,1.0,...,0.0,0.0,229.0,2172.0,2401.0,0.0,0,0,0,1

In [87]:
### create new feature weekday
bike_df['date_datetime'] = bike_df['date'].apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))

bike_df['weekday'] = bike_df['date_datetime'].apply(lambda x: x.weekday())

In [88]:
### create new feature working_day
bike_df['working_day'] = bike_df['weekday'].apply(lambda x: 0 if x > 4 else 1)
bike_df['working_day'] = bike_df[['holiday', 'working_day']].apply(
    lambda x: 0 if x['holiday'] == 1 else x['working_day'], axis=1)
bike_df.head()

,date,temp_avg,temp_min,temp_max,temp_observ,precip,wind,wt_fog,wt_heavy_fog,wt_thunder,...,registered,total_cust,holiday,season_spring,season_summer,season_fall,season_winter,date_datetime,weekday,working_day
0,2011-01-01,6.200000,-1.566667,11.973333,2.772727,0.069333,2.575,1.0,0.0,0.0,...,629.0,959.0,0.0,1,0,0,0,2011-01-01,5,0.0
1,2011-01-02,9.116667,0.880000,13.806667,7.327273,1.037349,3.925,1.0,1.0,0.0,...,651.0,781.0,0.0,1,0,0,0,2011-01-02,6,0.0
2,2011-01-03,1.475000,-3.442857,7.464286,-3.060000,1.878824,3.625,0.0,0.0,0.0,...,1181.0,1301.0,0.0,1,0,0,0,2011-01-03,0,1.0
3,2011-01-04,0.575000,-5.957143,4.642857,-3.100000,0.000000,1.800,0.0,0.0,0.0,...,1429.0,1536.0,0.0,1,0,0,0,2011-01-04,1,1.0
4,2011-01-05,2.383333,-4.293333,6.113333,-1.772727,0.000000,2.950,0.0,0.0,0.0,...,1489.0,1571.0,0.0,1,0,0,0,2011-01-05,2,1.0

##### Dropping unnecessary columns

I will drop the date feature and keep the date_datetime feature to have the feature with the correct date formatting. The registered and casual features will also be dropped because they are sub-features of the total_cust target label.

In [89]:
# Dropping date, registered and casual features because this is in string format 
bike_df.drop(columns=['date', 'registered', 'casual'], inplace=True)

In [90]:
columns_bike = bike_df.columns[:-8]
columns_bike

Index(['temp_avg', 'temp_min', 'temp_max', 'temp_observ', 'precip', 'wind',
       'wt_fog', 'wt_heavy_fog', 'wt_thunder', 'wt_sleet', 'wt_hail',
       'wt_glaze', 'wt_haze', 'wt_drift_snow', 'wt_high_wind', 'wt_mist',
       'wt_drizzle', 'wt_rain', 'wt_freeze_rain', 'wt_snow', 'wt_ground_fog',
       'wt_ice_fog', 'wt_freeze_drizzle', 'wt_unknown', 'total_cust'],
      dtype='object')

In [91]:
# Sorting the features
cols = list(bike_df.columns.values)
sorted_cols = ['date_datetime', 'weekday', 'working_day', 'holiday', 'season_spring',
                   'season_summer', 'season_fall', 'season_winter']

for col in sorted_cols:
    cols.pop(cols.index(col))

bike_df = bike_df[sorted_cols+cols]

In [92]:
bike_df.head()

,date_datetime,weekday,working_day,holiday,season_spring,season_summer,season_fall,season_winter,temp_avg,temp_min,...,wt_mist,wt_drizzle,wt_rain,wt_freeze_rain,wt_snow,wt_ground_fog,wt_ice_fog,wt_freeze_drizzle,wt_unknown,total_cust
0,2011-01-01,5,0.0,0.0,1,0,0,0,6.200000,-1.566667,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,959.0
1,2011-01-02,6,0.0,0.0,1,0,0,0,9.116667,0.880000,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,781.0
2,2011-01-03,0,1.0,0.0,1,0,0,0,1.475000,-3.442857,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1301.0
3,2011-01-04,1,1.0,0.0,1,0,0,0,0.575000,-5.957143,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1536.0
4,2011-01-05,2,1.0,0.0,1,0,0,0,2.383333,-4.293333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1571.0

#### 2.3. Exploratory Data Analysis

#### Categorical and discrete variables

In [ ]:
# create a correlation matrix
bike_df_corr_cat = bike_df.drop(columns=['date_datetime', 'weekday', 'temp_avg', 'temp_min', 'temp_max',
                                         'temp_observ', 'precip', 'wind'], axis=1)
bike_df_corr_cat = bike_df_corr_cat.corr(method='kendall')

# create a heatmap to visualize the results
plt.figure(figsize=[10,6])
sb.heatmap(bike_df_corr_cat, annot=True,
          vmin=-1, vmax=1, center=0,
          cmap='YlGnBu')
plt.title('Heatmap of correlations between continuous variables');

##### Season

In [ ]:
# variable to be used below to iterate through the columns and plot them
season_names = ['season_spring', 'season_summer', 'season_fall', 'season_winter']

# plotting the seasons vs. number of users in a boxplot
fig, ax = plt.subplots(2, 2, figsize = [10, 7])

count = 0

for j in range(len(ax)):
    for i in range(len(ax[j])):
        if j == 1 and i == 2:
            break
        else:
            ax[j][i] = sb.boxplot(data = bike_df, x = season_names[count], y = 'total_cust', ax=ax[j][i])
            ax[j][i].set_ylabel('Count')
            ax[j][i].set_xlabel(season_names[count])
            
        count += 1

The season feature clearly determines the customer demand for bikes, so this feature will be used for the final model.

##### dteday

In [ ]:
bike_df.head()

In [ ]:
# plot number of users per day of month
plt.figure(figsize=[15,7])
sb.boxplot(x='day', y='cnt', data=bike_df);

There are slight differences in the average numbers of customers per day of the month. Certain days may be more predictive than others of the target variable. I will keep this variable for my model.

##### yr

In [ ]:
# split dataframe into two years
yr_2011 = bike_df[bike_df['yr'] == 0]
yr_2012 = bike_df[bike_df['yr'] == 1]

x_2011 = yr_2011.groupby('mnth')['cnt'].mean().index
y_2011 = yr_2011.groupby('mnth')['cnt'].mean().values

x_2012 = yr_2012.groupby('mnth')['cnt'].mean().index
y_2012 = yr_2012.groupby('mnth')['cnt'].mean().values

In [ ]:
# plot count of customers for each year
plt.figure(figsize = [15, 5])

plt.subplot(1, 2, 1)
plt.bar(x_2011, y_2011, color='blue')
plt.xlabel('Months')
plt.ylabel('Mean number of customers')

plt.subplot(1, 2, 2)
plt.bar(x_2012, y_2012, color='green')
plt.xlabel('Months')
plt.ylabel('Mean number of customers');

The distribution of customers per month depends on the year. Thus, the feature yr should be kept for the final model.

##### mnth

In [ ]:
# plotting the total number of customers per month as a sum of both 2011 and 2012
mean_cnt_per_mnth = bike_df.groupby('mnth')['cnt'].mean()
x = mean_cnt_per_mnth.index
y = mean_cnt_per_mnth.values

plt.bar(x, y)
plt.xlabel('Month')
plt.ylabel('Average number of customers for 2011 and 2012');

The mnth feature shows differences in the average number of customers per month.

##### holiday

The features holiday, weekday and workingday have some overlaps in their prediction of customer demand, thus, I will first analyze each individual feature and then investigate their correlation.

In [ ]:
# plotting the customer statistics in form of a boxplot for the holiday feature
sb.boxplot(data = bike_df, x = 'holiday', y = 'cnt');

For the holiday feature, we can clearly see that there is on average a higher demand for bikes on days that are not holidays. This feature will be used in the final model to predict the overall demand.

In [ ]:
# Correlation between holiday feature and the number of customers per day
# using the Kruskal Wallis H test for correlations between a continuous and categorical variable
kruskal(bike_df['holiday'], bike_df['cnt'])

##### weekday

In [ ]:
# plotting the customer statistics in form of a boxplot for the weekday feature
plt.figure(figsize = [15, 5])
sb.boxplot(data = bike_df, x = 'weekday', y = 'cnt');

In [ ]:
# Correlation between weekday feature and the number of customers per day
# using Pearson's correlation coefficient because I'm assuming that weekday can be 
# considered a continuous variable
pearsonr(bike_df['weekday'], bike_df['cnt'])

Based on the above distributions of number of customers per weekday, it appears that there are slight difference in demand depending on what weekday it is. Thus, the weekday will be considered to forecast the bike demand.

##### workingday

In [ ]:
# plotting workday feature in boxplot against the count of customers
sb.boxplot(data = bike_df, x = 'workingday', y = 'cnt');

In [ ]:
# Correlation between workingday feature and the number of customers per day
# using the Kruskal Wallis H test for correlations between a continuous and categorical variable
kruskal(bike_df['workingday'], bike_df['cnt'])

In [ ]:
# create a new dataframe that encodes the weekday feature with 0 for monday through friday
# and 1 for saturday and sunday
weekend_distinct_df = bike_df.copy()
weekend_distinct_df['weekday'] = weekend_distinct_df['weekday'].apply(lambda x: 1 if (x == 6 or x == 0) else 0)

# plot boxplots for comparison between the weekday and workingday feature
plt.figure(figsize = [15, 5])

# boxplot for feature workingday
plt.subplot(1, 3, 1)
sb.boxplot(data = bike_df, x = 'workingday', y = 'cnt');

# boxplot for feature weekday
plt.subplot(1, 3, 2)
sb.boxplot(data = weekend_distinct_df, x = 'weekday', y = 'cnt');

# boxplot for feature holiday
plt.subplot(1, 3, 3)
sb.boxplot(data = bike_df, x = 'holiday', y = 'cnt');

In [ ]:
# plot the means of each instance of workingday
bike_df.groupby('workingday')['cnt'].mean()

In [ ]:
# plot the means of each instance of weekday
weekend_distinct_df.groupby('weekday')['cnt'].mean()

In [ ]:
# plot the means of each instance of holiday
bike_df.groupby('holiday')['cnt'].mean()

The features holiday, weekday and workingday are correlated with each other as well as with the target variable cnt. However, they contain slightly different information that may be useful for predicting the target variable. Thus, I will keep all three variables for my model.

##### weathersit

The feature weathersit contains the following returns and meanings:
- 1: Clear, Few clouds, Partly cloudy, Partly cloudy
- 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
- 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
- 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog

In [ ]:
# plotting the weathersit vs. number of users in a boxplot
plt.figure(figsize = [15, 5])

# boxplot for feature workingday
plt.subplot(1, 3, 1)
sb.boxplot(data = bike_df, x = 'weathersit_clear', y = 'cnt',
          palette=[sb.xkcd_rgb["pale red"], sb.xkcd_rgb["medium green"]]);

# boxplot for feature weekday
plt.subplot(1, 3, 2)
sb.boxplot(data = bike_df, x = 'weathersit_mist', y = 'cnt',
          palette=[sb.xkcd_rgb["pale red"], sb.xkcd_rgb["medium green"]]);

# boxplot for feature holiday
plt.subplot(1, 3, 3)
sb.boxplot(data = bike_df, x = 'weathersit_rain', y = 'cnt',
          palette=[sb.xkcd_rgb["pale red"], sb.xkcd_rgb["medium green"]],);

As expected, the weathersit feature has a strong influence on the number of customers.

#### Continuous variables

granger causality
lagged data

In [ ]:
# plot all distributions and scatterplot between each continuous variable pair
sb.pairplot(bike_df, vars=['hum', 'windspeed', 'temp', 'atemp', 'casual', 'registered', 'cnt']);

Based on the results of the above pairplot, the following things are apparent:
* there does not seem to be a **linear relationship between hum and cnt**
* **casual is a left-skewed** variable and would need to be log transformed
* **windspeed looks like a Weibull distribution**
* there is an almost **perfect linear relationship between atemp and temp**
* there exists a **linear relationship between registered and cnt**
* **casual and cnt** are related through a **logarithmic function**
* **temp and atemp** also have a **linear relationship with cnt**
* **hum and windspeed** seem to be **not very determinative of cnt**

In [ ]:
# create a correlation matrix
bike_df_corr = bike_df[['hum', 'windspeed', 'temp', 'atemp', 'casual', 'registered', 'cnt']].corr()

# create a heatmap to visualize the results
plt.figure(figsize=[10,6])
sb.heatmap(bike_df_corr, annot=True,
          vmin=-1, vmax=1, center=0,
          cmap='YlGnBu')
plt.title('Heatmap of correlations between continuous variables');

The heatmap underlines the indications of the pairplot and a number of steps need to be taken:
* atemp is perfectly correlated with temp, thus, atemp will be dropped from our dataset
* registered and casual are subsets of the cnt variables and do not lead to additional information, but rather to leakage, thus, both features will be dropped from the dataset
* hum and windspeed are only weakly, linearly correlated with cnt, however, I will keep them

##### temp

In [ ]:
# create series that groups the mean temperature per month
temp_per_month = bike_df.groupby('mnth')['temp'].mean()
temp_per_month

In [ ]:
# plot number of users per day of month
plt.figure(figsize=[15,7])
sb.barplot(x=temp_per_month.index, y=temp_per_month.values);

In [ ]:
# create series that groups average users per month
mean_cnt_per_mnth = bike_df.groupby('mnth')['cnt'].mean()
mean_cnt_per_mnth

In [ ]:
# assign x and y1 and y2
x = list(temp_per_month.index)
y1 = temp_per_month.values
y2 = mean_cnt_per_mnth.values

# below code adapted from https://matplotlib.org/gallery/api/two_scales.html
# creat plot containing both average count of customers
# and average temp per month
plt.figure(figsize=[15,7])
fig, ax1 = plt.subplots()

ax2 = ax1.twinx()  # instantiate a second axes that shares the same x-axis

color1 = 'tab:red'
ax1.set_xlabel('Months')
ax1.set_ylabel('Average temperature', color=color1)
ax1.bar(x, y1, color=color1)
ax1.tick_params(axis='y', labelcolor=color1)

color2 = 'tab:blue'
ax2.set_ylabel('Average number of customers', color=color2)
ax2.plot(x, y2, color=color2)
ax2.tick_params(axis='y', labelcolor=color2)

fig.tight_layout() 
plt.show()

From the above graph we can see that the month variable is correlated with the average number of customers per that month as well as the average temperature. The temperature strongly determines the number of customers. The temperature is likely a very important feature for predicting the target variable.

In [ ]:
# plotting temp feature against the target label cnt
plt.figure(figsize=[7,5])

sb.scatterplot(data = bike_df, x = 'temp', y = 'cnt', color='green')
plt.xlabel('Temperature')
plt.ylabel('Number of customers')
plt.title('Temperature vs. number of customers');

##### hum

In [ ]:
# plotting the distribution of hum
plt.figure(figsize=[15,6])

plt.subplot(1,2,1)
plt.hist(bike_df['hum'], bins=15)
plt.title('Distribution of hum')

plt.subplot(1,2,2)
sb.scatterplot(data = bike_df, x = 'hum', y = 'cnt')
plt.xlabel('Humidity')
plt.ylabel('Number of customers')
plt.title('Humidity vs. number of customers');

Although hum is only correlated with cnt in a weak sense, I will keep this in the model.

##### windspeed

In [ ]:
# plotting the distribution of windspeed
plt.figure(figsize=[15,6])

plt.subplot(1,2,1)
plt.hist(bike_df['windspeed'], bins=15)
plt.title('Distribution of windspeed')

plt.subplot(1,2,2)
sb.scatterplot(data = bike_df, x = 'windspeed', y = 'cnt')
plt.xlabel('Windspeed')
plt.ylabel('Number of customers')
plt.title('Windspeed vs. number of customers');

Although windspeed is only correlated with cnt in a weak sense, similar to hum, I will keep this in the model.

##### cnt

#### 2.4. Feature Selection

It is important to avoid look ahead bias and not to consider any features or data that we can only know in the future to predict the future. Checking this bias for all features that are still in the dataset:
* yr: not relevant for lookahead bias
* mnth: not relevant for lookahead bias
* holiday: no lookahead bias
* weekday: no lookahead bias
* workingday: no lookahead bias
* temp: temperature has some lookahead bias but we can use the forecast to know what the weather will most likely look like; only works a couple days in the future, not a month, for example
* hum: similar to temperature
* day: not relevant to lookahead bias
* season_spring: no lookahead bias
* season_summer: no lookahead bias
* season_fall: no lookahead bias
* season_winter: no lookahead bias
* weathersit_clear: similar to temperature
* weathersit_mist: similar to temperature
* weathersit_rain: similar to temperature
* windspeed: similar to temperature

In [ ]:
# drop columns that should not be used in our model
bike_df.drop(columns=['atemp', 'registered', 'casual'], axis=1, inplace=True)

In [ ]:
bike_df.head()

Add additional dataset --> need to research papers and decide what to add

Use PCA maybe?

### 3. Data Preparation

In [ ]:
# read in dataset
bike_df = pd.read_csv('bike-sharings.csv')

In [ ]:
# define cleaning function to prepare the data
def clean(df):
    '''
    Function to clean and prepare a dataset for machine learning models
    Args: df = dataframe
    Returns: X = dataframe containing features
             y = vector containing target labels
    '''
    
    # create new column with day of the month
    bike_df['day'] = bike_df['dteday'].apply(lambda x: x[-2:])
    bike_df['day'] = bike_df['day'].astype('int64')
    
    
    # drop features that are unnecessary for the model
    bike_df.drop(columns=['dteday'], axis=1, inplace=True)
    
    # assign X and y
    y = bike_df['cnt']
    X = bike_df.drop(columns=['cnt'], axis=1)
    
    return X, y

### 4. Model

Be careful --> this is time series data so I need to be careful when splitting the dataset

I may not need to split it when using pipelines, but I need to research how to do this

My pipeline should include ALL transformations, including onehot encoding, that I make after the very initial cleaning of data. Thus, I need to read in my data again after the EDA process.

If I'm using gradient descent I most DEFINITELY need to convert month and year to categorical features

my model needs to use the cnt of today and check how the weather of the previous week predicted cnt

or I could use the forecast of today and see how the forecast predicted the cnt

day 1 day 2 day 3 day 4 day 5 day 6 day 7 --> predict cnt of day 8

look at the mean and standard deviation of the

#### 4.1. Stochastic Gradient Descent

In [ ]:
# defining the hyperparameters
hyperparams = {'loss': 'log', 'penalty': 'none', 'alpha': 0.0001, 'max_iter': 1000, 
               'tol': 1e-3, 'random_state': 1909, 'eta0': 0.0001}

# initializing the model which is a Stochastic Gradient Descent model
model = SGDClassifier(**hyperparams)

In [ ]:
# create ML pipeline
features_standard_scaler = [x for x in list(X.columns) if x not in ['temp', 'hum', 'windspeed']]
transformer = Pipeline([
    ('scaler', StandardScaler())
])

preprocessor = ColumnTransformer([
    ('transformer', transformer, features_standard_scaler)
])

# pipeline that runs the preprocessor pipeline and then applies the model to the data set
pipeline = Pipeline([
    ('preprocessor', preprocessor), 
    ('model', model)
])

# fit the data to the result of the pipeline above
pipeline = pipeline.fit(X, y)

#### 4.2. XGBoost

#### 4.3. AdaBoost

#### 4.4. LightGBM

### 5. Evaluation